<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/NewFile.css}"/>
<meta charset="UTF-8">
<title>住所録登録確認画面</title>
</head>
<body>
	<p>住所録管理システム：住所録登録</p>
	<!-- 転送先 -->
	<form class="item" th:action="@{/user/creat}" th:object="${userRequest}" th:method="post">
	<dl>

		<!-- 名前 -->
		<dt>名前*：</dt>
		<dd th:text="*{name}"></dd>

		<!-- 住所 -->
		<dt>住所*：</dt>
		<dd th:text="*{address}"></dd>

		<!-- 電話番号 -->
		<dt>電話番号：</dt>
		<dd th:text="*{tel}"></dd>
		</dl>

		<!--  hidden -->
		<input type="hidden" name="name" th:field="*{name}">
		<input type="hidden" name="address" th:field="*{address}">
		  <input type="hidden" name="tel" th:field="*{tel}">

		  <br/>

		<!-- ボタン -->
		<div class="button_wrapper">
		<input type="submit" value="登録" style="width:250px;height:20px;">
		<a th:href="@{/user/add}"><button type="button" style="width:250px;height:20px;">戻る</button></a>
		</div>
	</form>
</body>
</html>