<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>住所録一覧</title>
</head>
<body>
<h1>住所録管理システム：住所録一覧</h1>

	<!-- 登録ボタン -->
	<div>
		<a th:href="@{/user/add}"><button type="button">新規登録</button></a>
	</div>

	<!-- 住所検索 -->
	住所：<form th:action="@{/user/search}" th:method="post"><input type="text" name="keyword"><input type=submit value="検索"></form>

	<!-- 一覧 -->
	<table border="1">
			<tr>
				<th>ID</th>
				<th>名前</th>
				<th>住所</th>
				<th>電話番号</th>
			</tr>
			<tr th:each="user : ${userlist}" th:object="${user}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.address}"></td>
				<td th:text="${user.tel}"></td>
				<td>
				<form th:action="@{/user/{id}/edit(id=*{id})}" th:method="post">
				<input type="hidden" name="id" th:value="${user.id}">
				<input type="submit" value="編集"></form><!-- </a>--></td>
				<td>
				<form th:action="@{/user/{id}/delete(id=*{id})}" th:method="post">
				<input type="hidden" name="id" th:value="${user.id}">
				<input type="submit" value="削除"></form><!-- </a>--></td>
			</tr>
	</table>

	<!-- ページング -->
	<nav aria-label="Page navigation example">
	<ul>
	<li><a th:herf="@{/?page=1}" aria-label="Previous">
	<span aria-hidden="true">＜＜</span>
	</a>
	</li>
	<li>
	<a th:href="@{/?page={page} (page=${pagination.prevBlock})}" aria-label="previous">
	<span aria-hidden="true">＜</span>
	</a>
	</li>
	<th:block th:with="start = ${pagination.startPage}, end=${pagination.endPage}">
	<li th:with="start = ${pagination.startPage}, end=${pagination.endPage}"
	th:each="pageButton:${#numbers.sequence(start,end)}">
	<a th:href="@{/?page={page} (page=${pageButton})}" th:text=${pageButton}></a>
	</li>
	</th:block>
	<li>
	<a th:herf="@{?page={page}(page=${pagination.nextBlock})}" aria-label="Next">
	<span aria-hidden="true">＞</span>
	</a>
	</li>
	<li>
    <a th:herf="@{?page={page}(page=${pagination.totalPageCnt})}" aria-label="previous">
	<span aria-hidden="true">＞＞</span>
	</a>
	</li>
	</ul>
	</nav>

	<!-- server.port=8090 -->
</body>
</html>