<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/NewFile.css}"/>
<meta charset="UTF-8">
<title>住所録一覧</title>
</head>
<body>
<p>住所録管理システム：住所録一覧</p>

	<!-- 登録ボタン -->
	<div class="menu">
	<div class="add">
		<a th:href="@{/user/add}"><button type="button" style="width:200px">新規登録</button></a>
	</div>

	<!-- 住所検索 -->
	<div class="serch">
	<form class="seach" th:action="@{/user/{key}/list(key=keyword)}" th:object="${UserRequest}" th:method="post">
	<div class="seachAddr">住所：</div>
	<div class="seachAddr"><input class="seachword" type="text" name="keyword" th:value="${keyword}" style="width:200px">
	<input class="sss" type=submit value="検索" style="width:204px">
	</div></form>
</div>
</div>
<br/>

<!-- ページング -->

	<div th:fragment='paginationbar'>
	<ul>
	<li th:class="${page.firstPage}?'disabled':''" style="display:inline">
    <span th:if='${page.firstPage}'>＜＜</span>
    <a th:if='${not page.firstPage}' th:href='@{${page.url}(keyword=${keyword},page=0,size=${page.size})}'>＜＜</a>
    </li>
	<li th:class="${page.hasPreviousPage}? '' :'disabled'" style="display:inline">
	<span th:if='${not page.hasPreviousPage}'>＜</span>
	<a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(keyword=${keyword},page=${page.number-2},size=${page.size})}'>＜</a>
	</li>
	<li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''" style="display:inline">
	<span th:if='${item.current}' th:text='${item.number}'>1</span>
	<a th:if='${not item.current}' th:href='@{${page.url}(keyword=${keyword},page=${item.number-1},size=${page.size})}'>
    <span th:text='${item.number}'>1</span>
    </a>
	</li>
	<li th:class="${page.hasNextPage}? '' : 'disabled'" style="display:inline">
    <span th:if='${not page.hasNextPage}'>＞</span>
    <a th:if='${page.hasNextPage}' th:href='@{${page.url}(keyword=${keyword},page=${page.number},size=${page.size})}'>＞</a>
    </li>
    <li th:class="${page.lastPage}? 'disabled' : ''" style="display:inline">
    <span th:if='${page.lastPage}'>＞＞</span>
    <a th:if='${not page.lastPage}' th:href='@{${page.url}(keyword=${keyword},page=${page.totalPages - 1},size=${page.size})}'>＞＞</a>
    </li>
	</ul></div>

	<!-- 一覧 -->
	<table border="1" >
			<tr bgcolor="#8490c8">
				<th style="width:22px; max-width:22px;">No</th>
				<th style="width:334px; max-width:334px;" >名前</th>
				<th style="width:360px; max-width:360px;" >住所</th>
				<th style="width:150px; max-width:150px;">電話番号</th>
				<th style="width:42px"></th>
				<th style="width:42px"></th>
			</tr>
			<tr th:each="user,nameStat : ${userlist}" th:object="${user}">
				<td  align="center" th:text="${nameStat.count}+${page.size}*(${page.number}-1)"></td>
				<td class="box-read"  style="max-width:334px;" align="center" th:text="${user.name}"></td>
				<td class="box-read" style="max-width:360px;" align="center" th:text="${user.address}"></td>
				<td  align="center" th:unless='${#strings.isEmpty(user.tel)}' th:text="${#strings.substring(user.tel,0,3)}+'-'+${#strings.substring(user.tel,3,7)}+'-'+${#strings.substring(user.tel,7,11)}">
				<td th:if='${#strings.isEmpty(user.tel)}' th:text="${user.tel}">
				</td>
				<!-- ${#strings.substring(user.tel,0,3)}+'-'+${#strings.substring(user.tel,3,7)}+'-'+${#strings.substring(user.tel,7,11)} -->

				<td >
				<form th:action="@{/user/{id}/edit(id=*{id})}" th:method="post">
				<input type="hidden" name="id" th:value="${user.id}">
				<input type="submit" value="編集"></form><!-- </a>--></td>
				<td>
				<form th:action="@{/user/{id}/delete(id=*{id})}" th:method="post">
				<input type="hidden" name="id" th:value="${user.id}">
				<input type="submit" value="削除"></form><!-- </a>--></td>
			</tr>
	</table>

	<!-- ページング -->

	<div th:fragment='paginationbar'>
	<ul>
	<li th:class="${page.firstPage}?'disabled':''" style="display:inline">
    <span th:if='${page.firstPage}'>＜＜</span>
    <a th:if='${not page.firstPage}' th:href='@{${page.url}(keyword=${keyword},page=0,size=${page.size})}'>＜＜</a>
    </li>
	<li th:class="${page.hasPreviousPage}? '' :'disabled'" style="display:inline">
	<span th:if='${not page.hasPreviousPage}'>＜</span>
	<a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(keyword=${keyword},page=${page.number-2},size=${page.size})}'>＜</a>
	</li>
	<li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''" style="display:inline">
	<span th:if='${item.current}' th:text='${item.number}'>1</span>
	<a th:if='${not item.current}' th:href='@{${page.url}(keyword=${keyword},page=${item.number-1},size=${page.size})}'>
    <span th:text='${item.number}'>1</span>
    </a>
	</li>
	<li th:class="${page.hasNextPage}? '' : 'disabled'" style="display:inline">
    <span th:if='${not page.hasNextPage}'>＞</span>
    <a th:if='${page.hasNextPage}' th:href='@{${page.url}(keyword=${keyword},page=${page.number},size=${page.size})}'>＞</a>
    </li>
    <li th:class="${page.lastPage}? 'disabled' : ''" style="display:inline">
    <span th:if='${page.lastPage}'>＞＞</span>
    <a th:if='${not page.lastPage}' th:href='@{${page.url}(keyword=${keyword},page=${page.totalPages - 1},size=${page.size})}'>＞＞</a>
    </li>
	</ul></div>
<br/>

<!-- 新規登録ボタン -->
<div class="add">
		<a th:href="@{/user/add}"><button type="button" style="width:200px">新規登録</button></a>
	</div>
	<!-- server.port=8090 -->
</body>
</html>