<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>住所録一覧</title>
</head>
<body>
<h1>住所録管理システム：住所録一覧</h1>

	<!-- 登録ボタン -->
	<div>
		<a th:href="@{/user/add}"><button type="button">新規登録</button></a>
	</div>

	<!-- 一覧 -->
	<table border="1">
			<tr>
				<th>ID</th>
				<th>名前</th>
				<th>住所</th>
				<th>電話番号</th>
			</tr>
			<tr th:each="user : ${userlist}" th:object="${user}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.address}"></td>
				<td th:text="${user.tel}"></td>
				<td><a th:href="@{/user/{id}/edit(id=*{id})}" >
				<input type="hidden" name="id" th:value="${user.id}">
				<input type="submit" name="edit" value="編集"></a></td>
			</tr>
	</table>
</body>
</html>